.App {
  text-align: center;
}

body {
  background-color: rgb(214, 212, 212);
}

.header {
  height: 20vh;
  margin-bottom: 5vh; 
  background-color: #c2e9f9;
  border-radius: 10px;
  margin-top: 15px;
}

.container {
  background-color: white;
}

.details,
.list {
  min-height: 100vh;
}

.descHeading {
	font-weight: bold;
}

.btnRow {
  height: 10vh;
  line-height: 10vh;
  vertical-align: bottom;
}

.btn { 
  margin: 5px;
}

img {
  border-radius: 5px;
}
.listImg{
  height: 225px;
  width: 150px;
  float: right;
}

h3 {
  display: inline-block;
}

.dropDown {
  margin-left: 10px;
}